body {
    background-color: #FFEAA8;
    padding: 2vw;
}
@font-face {
    font-family: font;
    src: url(fonts/Signika-Bold.ttf);
}

@font-face {
    font-family: font2;
    src: url(fonts/Signika-SemiBold.ttf);
}

.titlee {
    text-align: center;
    font-size: 5vw;
    margin: 0;
    color: #EE5E1F;
    font-family: font;
}

p {
    text-align: center;
    font-size: 6vw;
    margin: 0;
    color: #552C15;
    font-family: font;
}

table {
    margin: auto;
    margin-top: 2vw;
}

.answer {
    background-color: #FFF1BF;
    border-radius: 1vw;
    border: 3px solid #F7B054;
    margin-left: 1.5vw;
    font-size: 5vw;
    width: 10vw;
    text-align: center;
    font-family: font2;
    color: #552C15;
}

button {
    display: block;
    margin: auto;
    margin-top: 2vw;
    background-color: #F26320;
    border-radius: 1vw;
    border: 5px solid #D24D18;
    font-size: 3vw;
    font-family: font;
    color: #552C15;
    padding: 1vw;
}

img {
    width: 8vw;
    height: 8vw;
    margin-left: 3vw;
}